<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Dashboard", root_path %></li>
<li><%= link_to "Jugadores", players_path %></li>
<li><%= link_to "Agregar Jugador", addPlayer_path %></li>
</ul>
</nav>
</div>
</header>